datafactory/pipeline/GD - Dim e Fat.json
{
	"name": "GD - Dim e Fat",
	"properties": {
		"activities": [
			{
				"name": "IFC - Dimensao",
				"type": "IfCondition",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@or(\n  or(\n    empty(pipeline().parameters.p_gd_dim_ou_fat),\n    equals(pipeline().parameters.p_gd_dim_ou_fat, '.')\n  ),\n  contains(\n    string(pipeline().parameters.p_gd_dim_ou_fat),\n    '[dim]'\n  )\n)",
						"type": "Expression"
					},
					"ifTrueActivities": [
						{
							"name": "FLT - Filtra dominio",
							"type": "Filter",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"items": {
									"value": "@pipeline().parameters.p_dados_orquestrador.Value",
									"type": "Expression"
								},
								"condition": {
									"value": "@contains(\n    item().chave_entidade, \n    'academico.'\n)",
									"type": "Expression"
								}
							}
						},
						{
							"name": "PPL - Ingere tabelas",
							"type": "ExecutePipeline",
							"dependsOn": [
								{
									"activity": "FLT - Filtra dominio",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "SV - Realiza tratamento",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true,
								"parameters": {
									"p_temas": {
										"value": "@activity('FLT - Filtra Academico').output.Value",
										"type": "Expression"
									},
									"p_sv_dominio_tema": {
										"value": "@pipeline().parameters.p_sv_dominio_tema",
										"type": "Expression"
									}
								}
							}
						}
					]
				}
			},
			{
				"name": "IFC - Fato",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "IFC - Dimensao",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@or(\n  or(\n    empty(pipeline().parameters.p_gd_dim_ou_fat),\n    equals(pipeline().parameters.p_gd_dim_ou_fat, '.')\n  ),\n  contains(\n    string(pipeline().parameters.p_gd_dim_ou_fat),\n    '[fat]'\n  )\n)",
						"type": "Expression"
					},
					"ifTrueActivities": [
						{
							"name": "FLT - Filtra Academico_copy1",
							"type": "Filter",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"items": {
									"value": "@pipeline().parameters.p_dados_orquestrador.Value",
									"type": "Expression"
								},
								"condition": {
									"value": "@contains(\n    item().chave_entidade, \n    'academico.'\n)",
									"type": "Expression"
								}
							}
						},
						{
							"name": "PPL - Ingere tabelas_copy1",
							"type": "ExecutePipeline",
							"dependsOn": [
								{
									"activity": "FLT - Filtra Academico_copy1",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "SV - Realiza tratamento",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true,
								"parameters": {
									"p_temas": {
										"value": "@activity('FLT - Filtra Academico').output.Value",
										"type": "Expression"
									},
									"p_sv_dominio_tema": {
										"value": "@pipeline().parameters.p_sv_dominio_tema",
										"type": "Expression"
									}
								}
							}
						}
					]
				}
			}
		],
		"parameters": {
			"p_dados_orquestrador": {
				"type": "object"
			},
			"p_gd_dominio": {
				"type": "object"
			},
			"p_gd_dim_ou_fat": {
				"type": "object"
			}
		},
		"folder": {
			"name": "3. Gold/0. Atualiza DW"
		},
		"annotations": []
	}
}