datafactory/pipeline/Ingere tabelas.json
{
	"name": "Ingere tabelas",
	"properties": {
		"activities": [
			{
				"name": "FCH - Itera sobre tabelas",
				"type": "ForEach",
				"state": "Inactive",
				"onInactiveMarkAs": "Succeeded",
				"dependsOn": [
					{
						"activity": "FLT - Filtra tabelas",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@pipeline().parameters.p_tabelas",
						"type": "Expression"
					},
					"isSequential": false,
					"batchCount": 5,
					"activities": [
						{
							"name": "WEB - Get dados",
							"type": "WebActivity",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"method": "GET",
								"url": "https://raw.githubusercontent.com/lucasocarvalhos/projeto_aplicado_xp/refs/heads/develop/datasets/curso.csv?token=GHSAT0AAAAAADANN733M7WKHH62A7AY663IZ63NPQQ"
							}
						}
					]
				}
			},
			{
				"name": "FLT - Filtra tabelas",
				"type": "Filter",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@pipeline().parameters.p_tabelas",
						"type": "Expression"
					},
					"condition": {
						"value": "@if(\n    or(\n        empty(pipeline().parameters.p_rb_sistema_tabela),\n        equals(pipeline().parameters.p_rb_sistema_tabela, '.')\n    ),\n  true,\n  contains(\n        item(), pipeline().parameters.p_rb_sistema_tabela)\n    )\n)",
						"type": "Expression"
					}
				}
			}
		],
		"parameters": {
			"p_tabelas": {
				"type": "array"
			},
			"p_rb_sistema_tabela": {
				"type": "object"
			}
		},
		"folder": {
			"name": "1. Raw-Bronze/Sistema Logosofico"
		},
		"annotations": []
	}
}