datafactory/pipeline/SV - Realiza tratamento.json
{
	"name": "SV - Realiza tratamento",
	"properties": {
		"activities": [
			{
				"name": "FCH - Itera sobre tabelas",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "FLT - Filtra tabelas",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('FLT - Filtra tabelas').output.value",
						"type": "Expression"
					},
					"isSequential": false,
					"batchCount": 5,
					"activities": [
						{
							"name": "PPL - Executa tratamento silver",
							"type": "ExecutePipeline",
							"dependsOn": [],
							"policy": {
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "SV - Tratamento Silver",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true,
								"parameters": {
									"p_nome_notebook": {
										"value": "@item().consulta",
										"type": "Expression"
									},
									"p_chave_entidade": {
										"value": "@item().chave_entidade",
										"type": "Expression"
									}
								}
							}
						}
					]
				}
			},
			{
				"name": "FLT - Filtra tabelas",
				"type": "Filter",
				"state": "Active",
				"onInactiveMarkAs": "Succeeded",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@pipeline().parameters.p_temas",
						"type": "Expression"
					},
					"condition": {
						"value": "@or(\n  or(\n    empty(pipeline().parameters.p_sv_dominio_tema),\n    equals(pipeline().parameters.p_sv_dominio_tema, '.')\n  ),\n  contains(\n    string(pipeline().parameters.p_sv_dominio_tema),\n    item().chave_entidade\n  )\n)\n",
						"type": "Expression"
					}
				}
			}
		],
		"parameters": {
			"p_temas": {
				"type": "array"
			},
			"p_sv_dominio_tema": {
				"type": "object"
			}
		},
		"folder": {
			"name": "2. Silver/Academico"
		},
		"annotations": []
	}
}